/*Global Variables*/

:root {
	--primary-bg-color: #838383;
	--secondary-bg-color: #eeeeee;
	--tertiary-bg-color: #7e8a97;
	--primary-txt-color: white;
	--secondary-txt-color: grey;
	--primary-font: 'Francois One', sans-serif;
	--secondary-font: 'Open Sans', sans-serif;
	--logo-primary-color: #7352bc;
	--logo-secondary-color: #fe4342;
}

/*Main Body*/

body {
	background-color: var(--primary-bg-color);
	color: var(--primary-txt-color);
	font-family: var(--secondary-font);
}

.key-section {
	padding: 50px 50px 50px 50px;
}

.key-section h2 {
	padding-bottom: 20px;
}

.image-container {
	text-align: center;
}

.poster-image {
	width: 100%; 
}

.primary-color-section {
	background-color: var(--primary-bg-color);
	color: var(--primary-txt-color);
}

.secondary-color-section {
	background-color: var(--secondary-bg-color);
	color: var(--secondary-txt-color);
}

/*Filter Buttons*/

.filter {
	transition: transform 0.5s, opacity 0.5s; /* Animation */
}

.filter:hover {
	transform: scale(1.05);
}

/*Products Links*/

#products a {
	text-decoration: none;
	color: inherit;
}

#brands a {
	text-decoration: none;
	color: inherit;
	display: inline;
}

/*Title Section*/

#title {
	background-color: var(--secondary-bg-color);
	font-family: var(--primary-font);
	font-size: 1.35rem;
	text-align: center;
}

#title i {
	display: block;
	padding-top: 5px;
	color: var(--secondary-bg-color);
}

.nav-link {
	margin-right: 10px;
	color: var(--logo-primary-color) !important;
}

.nav-link:hover {
	color: var(--logo-secondary-color) !important;
}

/*About Us*/

.key-section h2 i {
	background-color: var(--logo-primary-color);
	border-radius: 100%;
	color: var(--primary-txt-color);
	padding: 7px;
	margin: 5px;
	font-size: 17px;
	height: 100%;
	display: inline;
	position: relative;
	bottom: 5px;
	margin-right: 10px;
}

/*Contact Us*/


/*Brand Showcase*/

#brands .brand-box {
	text-align: center;
}

#brands .logo {
	max-width: 90%;
}


#bsa {
	position: relative;
	right: 15px;
}

/*Product Filters*/

#product-filters {
	z-index: 999;
}

#product-filters .logo {
	width: 90%;
}

.filter {
	background-color: var(--logo-primary-color);
	border-radius: 15px;
	color: var(--primary-txt-color);
	text-align: center;
}

.filtered {
	display: none;
}

.active-filter {
	border: 2px solid var(--logo-secondary-color);
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
}

/*Product Cards*/

#product-cards {
	min-height: 2000px !important;
}

.product-card {
	margin-left: 0.5rem!important;
	margin-right: 0.5rem!important;
	margin-bottom: 1rem!important;
}

/*Footer*/

#footer {
	padding: 10px 0 0 20px;
}

/*Tweaks for Mobile*/

@media (max-width: 768px) {

	#title {
		text-align: left;
	}

	#title i {
		display: inline;
		padding-top: 4px;
		padding-left: 5px;
		font-size: 1rem;
		float: right;
	}

	.navbar-nav {
		padding-top: 10px;
		padding-bottom: 10px
	}

	.nav-link {
		margin-left: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-size: 1rem;
	}

	li.nav-item {
		width: 130px;
	}

	.key-section {
		padding: 35px 35px 35px 35px;
	}

	.poster-image {
		width: 100%;
	}

	#brands .logo {
		max-width: 90%;
	}

}

/*Tweaks for Wide Screens*/

@media (min-width: 1200px) {

	.product-card {
		max-width: 48.5%;
	}
}


