/*Global Variables*/

:root {
	--primary-bg-color: #838383;
	--secondary-bg-color: #eeeeee;
	--tertiary-bg-color: #7e8a97;
	--primary-txt-color: white;
	--secondary-txt-color: grey;
	--primary-font: 'Francois One', sans-serif;
	--secondary-font: 'Open Sans', sans-serif;
	--logo-primary-color: #7352bc;
	--logo-secondary-color: #fe4342;
}

/*Main Body*/

body {
	background-color: var(--primary-bg-color);
	color: var(--primary-txt-color);
	font-family: var(--secondary-font);
}

.key-section {
	padding: 50px 50px 50px 50px;
}

.key-section h2 {
	padding-bottom: 20px;
}

.section-title {
	position: relative;
}


.section-icon {
	background-color: var(--logo-primary-color);
	border-radius: 100%;
	color: var(--primary-txt-color);
	padding: 7px;
	margin: 5px;
	font-size: 17px;
	height: 100%;
	display: inline;
	position: relative;
	bottom: 5px;
	margin-right: 10px;
}

.up-link {
	background-color: var(--logo-primary-color);
	border-radius: 100%;
	color: var(--primary-txt-color);
	padding: 7px;
	margin: 5px;
	font-size: 17px;
	display: none;
	float: left;
	position: absolute;
    left: 0px;
}

.up-link:hover { 
	background-color: var(--logo-secondary-color);
}

.image-container {
	text-align: center;
}

.poster-image {
	width: 100%; 
}

.primary-color-section {
	background-color: var(--primary-bg-color);
	color: var(--primary-txt-color);
}

.secondary-color-section {
	background-color: var(--secondary-bg-color);
	color: var(--secondary-txt-color);
}

#filler-section {
	display: block;
	width: 100%;
	min-height: 15px;
	background-color: var(--primary-bg-color);
}

/*Title Section*/

#title {
	background-color: var(--secondary-bg-color);
	font-family: var(--primary-font);
	font-size: 1.35rem;
	text-align: center;
}

#title i {
	display: block;
	padding-top: 5px;
	color: var(--secondary-bg-color);
}

.nav-link {
	margin-right: 10px;
	color: var(--logo-primary-color) !important;
}

.nav-link:hover {
	color: var(--logo-secondary-color) !important;
}

/*About Us*/

#glenmidge, #john {
	width: 100%;
	padding-bottom: 20px;
}

#intro-description {
	margin-top:20px;
}

/* Our Process */

.process-image {
	width: 100%;
}

.process-box {
	padding: 0;
}

.process-description {
	margin-top: 20px;
}

/*Products Links*/

#products a {
	text-decoration: none;
	color: inherit;
}

#products .filter {
	transition: transform 0.5s, opacity 0.5s; /* Animation */
}

#products .filter:hover {
	transform: scale(1.05);
}

/*Brand Showcase*/

#brands a {
	text-decoration: none;
	color: inherit;
	display: inline;
}

#brands .filter {
	transition: transform 0.5s, opacity 0.5s; /* Animation */
}

#brands .filter:hover {
	transform: scale(1.05);
}

#brands .brand-box {
	text-align: center;
}

#brands .logo {
	max-width: 90%;
}

.brand-box {
	padding: 0;
}


#bsa {
	position: relative;
	right: 15px;
}

/* Pricing */

.prices-box {
	padding: 0;
}

#pricing td {
	padding-right: 20px;
}

#pricing table {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Contact Us */

#map {
	width: 100%;
}

.map-box {
	padding: 0;
}

.contacts-box {
	padding: 0;
}

/*Product Filters*/

#product-filters {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: -100px;
	z-index: 999;
	padding-bottom: 15px;
}

#product-cards {
	min-height: calc(100vh - 200px);
}

.filter-panel {
	box-sizing: border-box;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}

.filter-border {
	border: 3px solid white;
	border-radius: 20px;
	padding: 15px;
}

.filter-border div {
	white-space: nowrap;
}

.filter-panel-title {
	margin-top: -35px;
	background-color: #838383;
	width: fit-content;
	padding-left: 5px;
	padding-right: 5px;
}

#product-filters .logo {
	width: 90%;
}

.filter-panel .filter {
	background-color: var(--logo-primary-color);
	color: var(--primary-txt-color);
	text-align: center;
	display: inline-block;
	padding: 2px;
	transition: color 0.5s ease; /* Animation */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	box-shadow: 0 0 50px -1px rgba(0,0,0,0.2);
	cursor:pointer;
}

.filter-panel.brands .filter {
	width: 33.333%;
}

.filter-panel.categories .filter {
	width: 50%;
}

#product-filters .filter:hover {
	color: var(--logo-secondary-color);
}

.filtered {
	display: none!important;
}

.active-filter {
	border: 2px solid var(--logo-secondary-color);
	padding: 0!important;
}

#product-filters .filter[target-filter="petroltank"] {
	border-radius: 20px 0px 0px 0px;
}

#product-filters .filter[target-filter="oiltank"] {
	border-radius: 0px 20px 0px 0px;
}

#product-filters .filter[target-filter="seat"] {
	border-radius: 0px 0px 0px 20px;
}

#product-filters .filter[target-filter="others"] {
	border-radius: 0px 0px 20px 0px;
}

#product-filters .filter[target-filter="honda"] {
	border-radius: 20px 0px 0px 0px;
}

#product-filters .filter[target-filter="bsa"] {
	border-radius: 0px 20px 0px 0px;
}

#product-filters .filter[target-filter="norton"] {
	border-radius: 0px 0px 0px 20px;
}

#product-filters .filter[target-filter="ducati"] {
	border-radius: 0px 0px 20px 0px;
}

/*Product Cards*/

.product-card {
	margin-left: 0.5rem!important;
	margin-right: 0.5rem!important;
	margin-bottom: 1rem!important;
}

/* Your Bikes */

#yourbikes {
	height: calc(100vh - 40px);
	height: -o-calc(100vh - 40px); /* opera */
	height: -webkit-calc(100vh - 40px); /* google, safari */
	height: -moz-calc(100vh - 40px); /* firefox */
	overflow: hidden;
}

#maincarousel {
	height: 100%;
	text-align: center;
}

#maincarousel .carousel-item {
	height: 100%;
	overflow: hidden;
}

#maincarousel .carousel-inner {
	height: 100%;
}

#maincarousel .carousel-item-title {
	padding-top: 10px;
	padding-bottom: 10px;
}

.left-carousel-image, .right-carousel-image {
	display: inline-block;
	width: 50%;
	position: relative;
	height: 80%;
	vertical-align: middle;

}

#maincarousel .carousel-item img { 
	position: absolute;  
	top: 0;  
	bottom: 0;  
	left: 0;  
	right: 0;  
	margin: auto;
}

#maincarousel .carousel-caption {
	position:absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

/*Footer*/

#footer {
	padding: 10px 0 0 20px;
}

/*Tweaks for Mobile*/

@media (min-width: 768px) {

	.scalable {
		width: 100%;
		max-width: 600px;
	}

}

@media (max-width: 768px) {

	#title {
		text-align: left;
	}

	#title i {
		display: inline;
		padding-top: 4px;
		padding-left: 5px;
		font-size: 1rem;
		float: right;
	}

	.navbar-nav {
		padding-top: 10px;
		padding-bottom: 10px
	}

	.nav-link {
		margin-left: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-size: 1rem;
	}

	li.nav-item {
		width: 130px;
	}

	.key-section {
		padding: 35px 35px 35px 35px;
	}

	#yourbikes {
		padding: 35px 35px 50px 35px;
	}

	.poster-image {
		width: 100%;
	}

	#brands .logo {
		max-width: 90%;
	}

	.filter-panel {
		width: 100%;
	}

	#product-filters {
		top: -80px;
		padding-bottom: 15px;
	}

	.filter-border {
		font-size: 0.9rem;
	}

	.left-carousel-image, .right-carousel-image {
		width: 100%;
		top: 0px;
		height: 40%;
	}

	.scalable-mobile {
		width: 100%;
	}

	#mvc441 {
		padding-bottom: 80px;
	}

}


/* Handling Mobile Screens where the Filters title wraps */
@media (max-width: 440px) {

	#product-filters {
		top: -120px;
	}

}

/*Tweaks for Wide Screens*/

@media (min-width: 1200px) {

	.product-card {
		max-width: 48.5%;
	}
}


